/* Gallery */


.gallery {
	background-color: white;
	height: 100vh;
	text-align: center;
	padding-top: 2%;
}

.categories {
	text-align: center; 
	padding-top: 4%;
}
	.categories button{
		margin-right: 0.5%;
		display: inline-block;
		padding: 0.5%;
		background-color: transparent;
		border: 1px solid #4CAF50;
    	transition-duration: 0.4s;
	}
		.categories button:hover {
			background-color: #4CAF50; /* Green */
    color: white;
		}
.info {
	display: none;
}


.head-img {
	display: block;
	text-align: center;
	padding: 2%;
	float: left;
	width: 600px;
}

.gallery img:hover {
	opacity: 0.8;
}

.small-img {
	padding: 1%;
	width: 10%;
	height: 20%;
}

.images {
	text-align: center;
	margin: auto;
}

.images img{
	height: 20%;
	width: 20%;
	display: inline-block;
	padding: 1%;
	-webkit-transition: all 0.5s ease; /* Safari and Chrome */
  	-moz-transition: all 0.5s ease; /* Firefox */
  	-o-transition: all 0.5s ease; /* IE 9 */
  	-ms-transition: all 0.5s ease; /* Opera */
  	transition: all 0.5s ease;
  	border-radius: 2%;
}

	.images img:hover {
	-webkit-transform:scale(1.75); /* Safari and Chrome */
    -moz-transform:scale(1.75); /* Firefox */
    -ms-transform:scale(1.75); /* IE 9 */
    -o-transform:scale(1.75); /* Opera */
     transform:scale(1.75);
	}